.Rproj.user
.Rhistory
.RData
initial-R_Code_Data/
Background/
Presentation/
reports/
vignettes/
data/pitchfx14.sqlite3
index_cache/
index_files/
index.aux
index.log
index.out
index.synctex.gz
index.tex
